name: Show logs of nakama

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug

jobs:
  Upload-Files:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1
      - uses: MercuryTechnologies/aws-ssm-send-command-action@v0.1.0
        with:
          document-name: 'AWS-RunShellScript'
          targets: '[{"Key":"InstanceIds","Values":["${{ secrets.INSTANCE_ID }}"]}]'
          parameters: '{"commands":["sudo -u ec2-user sh /usr/src/show-logs.sh"]}'
          wait-until-command-executed: true
          max-wait-time: 600
          log-failed-command-invocations: true
      
